// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myApp-primary: mat.define-palette(mat.$indigo-palette);
$myApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myApp-warn: mat.define-palette(mat.$red-palette);

$typography: mat.define-typography-config(
  $font-family: "Varela Round",
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myApp-theme: mat.define-light-theme((
  color: (
    primary: $myApp-primary,
    accent: $myApp-accent,
    warn: $myApp-warn,
  ),
  typography: $typography,
  density: 0,
));

@include mat.typography-hierarchy($typography);

$ng-theme: $myApp-theme;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$primary: map-get($ng-theme, "primary", "default");
$light: map-get($ng-theme, "primary", "lighter");
$secondary: map-get($ng-theme, "accent", "default");
$warning: map-get($ng-theme, "warn", "default");
$danger: map-get($ng-theme, "warn", 700);

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  ()
);

@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@include mat.all-component-themes($ng-theme);

/* You can add global styles to this file, and also import other style files */

body {}
